<!DOCTYPE html>
<html>

<head>
    <title>
        Slack page
    </title>
    <meta charset='utf-8' />
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/slack.css' rel='stylesheet' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="page">
        <section class="page_section">
            <div class="page_content hero_section">
                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_label">Slack Features</span>
                        <h1 class="hero_title">One platform for your
                        team and your work</h1>
                        <p class="hero_info">All the features of Slack work together so you can, too.</p>
                        <div class="hero_buttons">
                            <a href="#" class="button button_primary click">Try for free</a>
                            <a href="#" class="button button_secondary click">See all features</a>
                        </div>
                        <img src="/img/hero.png" alt="" class="hero_image">
                    </div>
                </div>
                <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="airbnb" class="brands_image">
                    <img src="/img/brands/target.png" alt="target" class="brands_image">
                    <img src="/img/brands/uber.png" alt="uber" class="brands_image">
                    <img src="/img/brands/onemedical.png" alt="" class="brands_image">
                    <img src="/img/brands/newscorp.png" alt="newscorp" class="brands_image">
                    <img src="/img/brands/us-department.png" alt="us-department" class="brands_image">
                    <img src="/img/brands/intuit.png" alt="intuit" class="brands_image">
                    <img src="/img/brands/sonos.png" alt="sonos" class="brands_image">
                </div>
            </div>
        </section>
        <section class="page_section page_section_light">
            <div class="page_content feutures_section">
                <h2 class="feature_title">Work more easily with everyone</h2>
                <p class="double_line">Stay on the same page and make decisions faster by bringing all of your
                work communication into one place.</p>
                <div class="features_grid_4">
                    <div class="feat-card">
                        <span class="icon feat_icon" style="background-image: url('/svg/connect.svg');"></span>
                        <strong class="feat_card_title">Slack Connect</strong>
                        <p class="double_line">Collaborate with teams at other
                        companies the same way you do
                        with teams at your own.</p>
                        <a href="#" class="icon icon_arrow feat_arrow_link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat_icon" style="background-image: url('/svg/channels.svg');"></span>
                        <strong class="feat_card_title">Channels</strong>
                        <a href="#" class="icon icon_arrow feat_arrow_link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat_icon" style="background-image: url('/svg/huddles.svg');"></span>
                        <strong class="feat_card_title">Huddles</strong>
                        <a href="#" class="icon icon_arrow feat_arrow_link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat_icon" style="background-image: url('/svg/clips.svg');"></span>
                        <strong class="feat_card_title">Clips</strong>
                        <a href="#" class="icon icon_arrow feat_arrow_link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat_icon" style="background-image: url('/svg/canvas.svg');"></span>
                        <strong class="feat_card_title">Canvas</strong>
                        <a href="#" class="icon icon_arrow feat_arrow_link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat_icon" style="background-image: url('/svg/messaging.svg');"></span>
                        <strong class="feat_card_title">Messaging</strong>
                        <a href="#" class="icon icon_arrow feat_arrow_link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat_icon" style="background-image: url('/svg/accessibility.svg');"></span>
                        <strong class="feat_card_title">Accessibility</strong>
                        <a href="#" class="icon icon_arrow feat_arrow_link click"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="page_section page_section_light">
            <div class="page_content what_container">
                <div class="what_flex">
                    <div class="what_description">
                        <h2 class="what_title">What you need, when you need it</h2>
                        <p class="what_text">Spend less time shuffling tabs with a comprehensive message archive and
                        all your work tools at your fingertips.</p>
                    </div>
                    <div class="cards_what_flex">
                        <div class="what_card_big">
                            <div class="card_big">
                                <span class="icon_what icon" style="background-image: url('/svg/puzzle.svg')"></span>
                                <strong class="card_big_title">Apps and Integrations</strong>
                                <p class="card_what_description">Streamline work by connecting
                                Slack with other services like
                                Google Drive, Office 365 and
                                over 2,200 more.</p>
                                <a href="#" class="icon icon_arrow what_arrow_link click"></a>
                            </div>
                            <div class="card_big">
                                <span class="icon_what icon" style="background-image: url('/svg/blitz.svg')"></span>
                                <strong class="card_big_title">Workflow Builder</strong>
                                <p class="card_what_description">Automate routine actions and
                                communication, so you can get
                                back to the kind of work only
                                humans can do.</p>
                                <a href="#" class="icon icon_arrow what_arrow_link click"></a>
                            </div>
                        </div>
                        <div class="what_cards_vertical">
                            <div class="card_vertical">
                                <span class="icon_card_vertical icon" style="background-image: url('/svg/search.svg')"></span>
                                <strong class="card_vertical_title">Search</strong>
                                <a href="#" class="icon icon_arrow what_arrow_link click"></a>
                            </div>
                            <div class="card_vertical">
                                <span class="icon_card_vertical icon" style="background-image: url('/svg/paper.svg')"></span>
                                <strong class="card_vertical_title">File sharing</strong>
                                <a href="#" class="icon icon_arrow what_arrow_link click"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page_section">
            <div class="deliveroo_container">
                <div class="deliveroo_flex">
                    <div class="deliveroo_img_container">
                        <img src="/img/deliveroo.png" alt="deliveroo" class="deliveroo_img">
                    </div>
                    <div class="deliveroo_description">
                        <p class="deliveroo_text">“The thing that keeps us connected
                        the most is Slack. It’s a very
                        immediate and straightforward
                        method of communication, and
                        really the only channel that people
                        prefer and enjoy using.”</p>
                        <img src="/img/deliveroo1.png" alt="deliveroo1" class="description_img">
                        <strong class="delivero_ceo">Will Sprunt, CIO, Deliveroo</strong>
                    </div>
                </div>
            </div>
        </section>
        <section class="page_section">
            <div class="explore_container">
                <h2 class="explore_title">Explore more about working in Slack</h2>
                <div class="explore_cards">
                    <div class="container_card_explore">
                        <img src="/img/slack-101.png" alt="" class="explore_img">
                        <div class="description_container">
                            <p class="explore_description">Slack Tutorials</p>
                            <p class="card_text">Slack 101</p>
                            <div class="link_container">
                                <a href="#" class="card_learn click">Learn more</a>
                                <a href="#" class="icon icon_arrow_blue click"></a>
                            </div>
                        </div>
                    </div>
                    <div class="container_card_explore">
                        <img src="/img/slack-vs-email.png" alt="" class="explore_img">
                        <div class="description_container">
                            <p class="explore_description">Slack vs. Email</p>
                            <p class="card_text">An easier, more
                            organized way to work</p>
                            <div class="link_container">
                                <a href="#" class="card_learn click">Learn more</a>
                                <a href="#" class="icon icon_arrow_blue click"></a>
                            </div>
                        </div>
                    </div>
                    <div class="container_card_explore">
                        <img src="/img/fastly-shared.png" alt="" class="explore_img">
                        <div class="description_container">
                            <p class="explore_description">Customer Stories</p>
                            <p class="card_text">How Fastly uses Slack
                            Connect to wow
                            enterprise customers</p>
                            <div class="link_container">
                                <a href="#" class="card_learn click">Learn more</a>
                                <a href="#" class="icon icon_arrow_blue click"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>