:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;
    

    --size-d: 16px;
    --size-s: 14px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #DEE2E6;
    --color-border2: #E4EAF2;
    --color-primary: rgb(46, 46, 255);
    --color-white: #fff;
    --color-title: #212529;
    --color-text: #343A40;

    --border-radius: 12px;
    --border-radius-s: 4px;

    --weight-title: 600;
    --weight-text: 400;
}


/* ======= */

.page {
    background: var(--color-white);
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 1000px;
    width: 100%;    
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* =============== */

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 17px;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 6px;
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;

}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.header_nav_right {
    width: fit-content;
    display: flex;
}


.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: block;
    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    font-weight: var(--weight-title);
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
}

.main {
    display: flex;
    align-items: center;
    gap: var(--space-l);
}

.info {
    max-width: 580px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-l);
}

.info_title {
    color: var(--color-title);
    font-size: 56px;
    font-weight: var(--weight-title);
}

.info_text {
    color: var(--color-title);
    font-size: var(--size-b);
    font-weight: var(--weight-text);
}

.form {
    max-width: 394px;
    width: 100%;
    padding: 60px 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F8F9FA;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-s);
}

.form_input {
    border-radius: 4px;
    border: 1px solid #CED4DA;
    background-color: var(--color-white);
    padding: 16px 12px;
    width: 100%;
}

.form_input::placeholder {
    color: var(--color-title);
}

.checkbox_form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form_button {
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-weight: var(--weight-text);
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-s);
    transition: opacity 0.7s;
}

.form_button:hover {
    opacity: 0.7;
}

.form_description {
    padding-top: 10px;
    border-top: 1px solid #6C757D;
    font-size: var(--size-s);
    color: #6C757D;
    font-weight: var(--weight-text);
}

.updates {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    background-color: var(--color-white);
    border-radius: var(--border-radius-s);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.updates_title {
    font-size: var(--size-b);
    font-weight: var(--weight-text);
    color: var(--color-title);
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-border);
}

.upd_list {
    display: flex;
    gap: 8px;
}

.upd_list_info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
}

.updates_nickname {
    font-size: var(--size-s);
    font-weight: var(--weight-text);
    color: #6C757D;
}

.updates_description {
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: #6C757D;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-border);
}

.show_all {
    font-size: var(--size-s);
    font-weight: var(--weight-text);
    color: var(--color-primary);
    transition: opacity 0.7s;
}

.show_all:hover {
    opacity: 0.7;
}

.expirience {
    border-radius: var(--border-radius-s);
    background-color: #F8F9FA;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    position: relative;
}

.expirience_title {
    font-size: 42px;
    font-weight: var(--weight-title);
    color: var(--color-title);
}

.expirience_badge {
    transform: rotate(30deg);
    padding: 12px;
    max-width: 90px;
    width: 100%;
    text-align: center;
    border-radius: 70px;
    background: #FF7347;
    position: absolute;
    top: -15px;
    right: -40px;
    font-size: var(--size-b);
    font-weight: var(--weight-title);
    color: var(--color-white);
}

.list_container {
    display: flex;
    gap: var(--space-l);
}

.list_user {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: var(--space-xm);
    background-color: var(--color-title);
    border-radius: var(--border-radius);
}

.list_title {
    font-size: var(--size-l);
    font-weight: var(--weight-title);
    color: var(--color-white);
}

.list_details {
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    line-height: 140%;
    color: #B1B1B1;
}